@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kavivanar&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 2.4rem;
    font-family: system-ui, sans-serif;
    color: #1c130d;
    font-family: "Kavivanar";
    font-weight: 500;
}

.app {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
}

.logo {
    height: 100px;
    margin: auto;
}

h1 {
    text-align: center;
    font-family: "Kavivanar";
    font-style: italic;
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 400;
    word-spacing: 30px;
    letter-spacing: -5px;
    padding: 2.4rem 0;
}

.add-form {
    padding: 2.8rem 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
}

h2 {
    margin-right: 1.6rem;
    font-size: 2.4rem;
    font-weight: 400;
}

button,
select,
input {
    background-color: rgba(191, 130, 10, 0.2);
    color: #5a3e2b;
    font-family: inherit;
    border: none;
    border-radius: 0.5rem;
    padding: 1.2rem 3.2rem;
    font-weight: 700;
    font-size: 1.8rem;
    cursor: pointer;
    display: inline-flex;
    margin: 0.5rem;
}

input {
    -webkit-box-shadow: inset 5px 5px 15px -12px rgba(28, 19, 13, 0.3);
    -moz-box-shadow: inset 5px 5px 15px -12px rgba(28, 19, 13, 0.3);
    box-shadow: inset 5px 5px 15px -12px rgba(28, 19, 13, 0.3);
}

.add-form button {
    text-transform: uppercase;
    background-color: #bf820a;
    color: #1c130d;
    -webkit-box-shadow: inset -5px -5px 15px -12px rgba(28, 19, 13, 0.5);
    -moz-box-shadow: inset -5px -5px 15px -12px rgba(28, 19, 13, 0.5);
    box-shadow: inset -5px -5px 15px -12px rgba(28, 19, 13, 0.5);
    border: 0.5px solid rgba(28, 19, 13, 0.5);
    margin: 0.5rem;
}

.add-form div {
    padding: 1.2rem 3.2rem;
}
.list {
    padding: 4rem 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 3.2rem;
    align-items: center;
}

.actions button,
.list select {
    text-transform: uppercase;
    padding: 0.8rem 2.4rem;
    font-size: 1.4rem;
    font-weight: 700;
    margin: 0 0.8rem;
}

.list ul {
    list-style: none;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 2fr));
    gap: 1.2rem;
    justify-content: center;
    align-content: start;
}

.list li {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    justify-content: space-between;
    border: 0.5px solid #ccc;
    border-radius: 5px;
    padding: 0 20px;
}

input[type="checkbox"] {
    height: 2rem;
    width: 2rem;
    accent-color: #e5771f;
}

.list li button {
    cursor: pointer;
    background: none;
    border: none;
    font-size: 1.8rem;
    padding: 0.8rem;
    transform: translateY(2px);
}

.list li span {
    flex: 10;
    text-align: left;
}

.stats {
    text-align: center;
    font-weight: 400;
    padding: 3.2rem 0;
}
